.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 71px;
    margin: 0 auto;
    border-bottom: 1px solid #525252;
}
.logo a{
    display: block;
}
.logo a img{
    width: 80px;
    height: 31px;
}
.page-wrapper{
    width: 100%;
    height: 100vh;
    background: #000 url('../images/bg.png') no-repeat center center / cover;
}
.page-container{
    width: 1140px;
    margin: 0 auto;
    padding: 60px 0 98px;
}