/* posting page */
.summary-data-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 98px;
    padding: 0 20px;
    margin-top: 60px;
    font-size: 18px;
    line-height: 22px;
    background: rgba(0, 0, 0, .5);
    border-radius: 2px;
}
.summary-data-section label{
    margin-left: 25px;
    margin-right: 12px;
    font-weight: 500;
    color: #FAFAFA;
}
.summary-data-section label:first-child{
    margin-left: 0;
}
input, select, textarea{
    padding: 14px;
    font-size: 18px;
    line-height: 22px;
    color: #737373;
    background: #262626;
    border: 1px solid #404040;
    border-radius: 2px;
}
.summary-data-section input, .summary-data-section select{
    width: 103px;
    height: 50px;
}
.summary-data-section select{
    width: 75px;
    -webkit-appearance:none; /* for chrome */
    appearance:none;
    background: #262626 url('../images/icon-arrow_drop_down.svg') no-repeat right 20px center/ 10px auto;
}
.summary-data-section .unit{
    margin-left: 10px;
    color: #737373;
}
.summary-data-section .divider{
    width: 1px;
    height: 40px;
    margin-left: 30px;
    margin-right 5px;
    background: #404040;
}

.text-data-section{
    margin-top: 30px;
}
.text-data-section label{
    display: block;
    margin-top: 25px;
    margin-bottom: 14px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #FAFAFA;
}
.text-data-section label:first-child{
    margin-top: 0;
}
.text-data-section input, .text-data-section textarea{
    width: 100%;
}
.text-data-section textarea::placeholder{
    font-family: 'Pretendard';
    font-size: 18px;
    line-height: 22px;
    color: #737373;
}
.btn-section{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn-section button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93px;
    height: 44px;
    padding: 0 20px;
    margin-top: 60px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 2px;
}
.btn-section .btn-cancel{
    color: #fff;
    background: #262626;
}
.btn-section .btn-upload{
    margin-left: 20px;
    color: #171717;
    background: #C0EF5C;
}


/* detail page */
.title-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-top: 60px;
}
.title-section .left-area{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title-section .left-area .title-info{
    display: flex;
    align-items: center;
}
.title-section .left-area .title-info img{
    width: 31px;
    margin-right: 6px;
}
.title-section .left-area .title-info .post-title{
    font-size: 26px;
    font-weight: 600;
    color: #fff;
}
.title-section .left-area .writer-info{
    margin-left: 37px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}
.title-section .left-area .writer-info .name {
    margin-left: 6px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
}
.title-section .right-area .weight-info{
    display: flex;
    align-items: center;
    width: 120px;
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: rgba(192, 239, 92, 0.1);
    border-radius: 2px;
}
.title-section .right-area .weight-info img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.content-section{
    margin-top: 40px;
}
.content-section .video-info iframe{
    width: 1140px;
    height: 641px;
}
.content-section .text-info{
    padding: 14px;
    margin-top: 40px;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    background: #000;
    border: 1px solid #404040;
    border-radius: 2px;
}