<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SBD Home</title>
</head>
<body>
<center><h1> [3대몇] </h1><hr>

    <p>3대몇 웹사이트에 오신것을 환영합니다.</p><hr/><br>

</center>
    <p style="text-align:right;"> <a href="postingForm.html">[글쓰기]</a><br><br> </p>

    <!-- <a href="/posting/Getlist">[글 리스트]</a><br><br> -->

<table class="table">
    <thead>
    <tr>
        <th>ID</th>

        <th>제목</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="posting : ${postings}">

       <td><a href="postingView.html" th:href="@{/posting/id/{id}(id=${posting.id})}" th:text="${posting.id}">게시글 아이디</a></td>
        <td><a href="postingView.html" th:href="@{/posting/id/{id}(id=${posting.id})}" th:text="${posting.title}">게시글 제목</a></td>

    </tr>
    </tbody>
</table>


</body>
</html>
