<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${posting.title}">게시글 자세히보기</title>

    <!-- 홈 화면으로 돌아가는 바로가기 기능 -->
    <a style="text-align:center;" href="home.html" th:href="@{../../home}" > <h1>[logo 여기]</h1> </a>
    <br>

</head>
<body>
    <h3>제목: <td th:text="${posting.title}">제목이 여기 들어갑니다</td>&nbsp
        <!-- 오른쪽으로 정렬을 해야하는데 잘 안되네요. 하지만 랭킹 부분이 왼쪽에 붙어있어도 괜찮습니다. 편하신대로 해주세요-->
        랭킹: <td th:text="${posting.rank}" >제목이 여기 들어갑니다</td><td/> </h3>
    <br>
    <td th:text="${posting.body}">본문이 여기 드갑니다</td>
</body>
</html>
