<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${posting.title}">게시글 자세히보기</title>
    <link rel="stylesheet" href="css/reset.css" th:href="@{../../css/reset.css}">
    <link rel="stylesheet" href="css/common.css" th:href="@{../../css/common.css}">
    <link rel="stylesheet" href="css/style.css" th:href="@{../../css/style.css}">
</head>

<body>
<div class="page-wrapper">
    <div class="page-container">
        <h1 class="logo">
            <a href="home.html" th:href="@{../../home}">
                <img src="images/logo.svg" th:src="@{../../images/logo.svg}" alt="logo" />
            </a>
        </h1>

        <div class="title-section">
            <div class="left-area">
                <div class="title-info">
                    <h2 class="post-title">
                        <img src="images/icon-premium.svg" th:src="@{../../images/icon-premium.svg}" alt="">
                        <td th:text="${posting.title}">[제목 여기] </td>
                    </h2>
                </div>
            </div>
            <div class="right-area">
                <div class="weight-info">
                    <img src="images/icon-dunbell.svg" th:src="@{../../images/icon-dunbell.svg}" alt="">
                    <td th:text="${posting.rank}">[랭크여기]</td>
                </div>
            </div>
        </div>
        <!-- <td th:text="${posting.body}"></td> 데이터를 어떻게 불러오실지 몰라 일단 주석처리 하고 더미 데이터 넣어둘게요 -->
        <!-- re: 아 감사합니다, 아래에서 사용하였습니다. 제가 html -->
        <div class="content-section">
            <div class="text-info">
                <p style="white-space: pre-line"> <!-- 본문 위 한줄 여백 (<td 부분을 옆에 붙이면 여백 사라짐>)-->
                <td th:text="${posting.body}">[본문 여기]</td>
                <!-- 본문 아래 한줄 여백-->
                </p>
            </div>
        </div>

    </div>
</div>
</body>
</html>
